*{
    margin: 0;
    padding: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(0deg 0% 50% / 10%);
    font-weight: 300;
}

.logo{
    height: 45px;
    margin-left: 10px;
}

.navigation-bar{
    height: 8%;
    display: flex;
    gap: 1em;
    align-items: center;
    background-color: hsl(193deg 86% 25% / 10%);
}

.list{
    list-style: none;
    display: flex;
    gap: 1em;
    list-style: none;
    font-size: 1em;
}

.list  a{
    text-decoration: none;
    color: hsl(193deg 86% 25%);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
    gap: 1.7em;
}

.content > img{
    width: 350px;
}

.search-bar{
    height: 48px;
    width: 670px;
    background-color: white;
    box-shadow: 0.1em 0.1em 1.3em hsl(0deg 0% 0% / 30%);
}

.search-bar > img{
    margin-top: 5px;
    margin-left: 92%;
    width: 50px;
}

.sharing-link > img{
    width: 10px;
}

a{
    color: hsl(193deg 86% 25% / 90%);
}


